<div class="animated-background"></div>
<div class="content">
    <div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a class="h1"><b>Allianz</b>Square</a>
    </div>
    <div class="card-body">
        <h6 style="text-align: center;">Forgot Your Password? No Worries!</h6>
        <p class="login-box-msg">
            Simply Follow These Easy Steps:
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <pf-button [type]="'submit'" [block]="true">
                        Send OTP
                    </pf-button>
                </div>
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a [routerLink]="['/login']">Already User?</a>
        </p>
    </div>
</div>
</div>
