<div mat-dialog-title>
    <h3 style="text-align: center;">Create a New Role</h3>
</div>
<form>
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-label>Role name</mat-label>
            <mat-form-field appearance="outline">
                <input matInput type="text" placeholder="role name" formControlName="firstName">
            </mat-form-field>

            <mat-label>CreatedBy</mat-label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="created by" formControlName="lastName">
            </mat-form-field>
        </div>

        

        <div class="row">
            <mat-label>Application ID</mat-label>
            <mat-form-field appearance="outline">
                <mat-select formControlName="education">
                    <mat-option>Option 1
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
       
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </div>
</form>